.head-part-main-container{
    display: flex; 
    justify-content: space-between;
    flex-direction: row;
    gap: 35rem;
    
}
.logo-sym{
    position: absolute;
}
.joule{
    position: absolute;
    left: 40px;
}
.logo-n-text{
    /* padding: 5px;
    display: flex;
    flex-direction: row;
    position: relative;
    flex-direction: row;
    font-style: oblique;
    font-size: 2rem; */
    display: flex;
    flex-direction: row;
    position: relative;
    font-size: 2rem;
    margin: 1rem;

}

.btn-already-have-account{
   margin-right: 4rem; 
   margin-top: 1rem;
    
}
.btn-already-have-account>button{
    font-size: 0.8rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 2rem;
 
    border-radius: 8px;
}