.sign-up-text{
    font-size: 2rem;
}
.supporting-text{
    font-size: 1rem;
}
.right-main-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.firstname-container{

}
.fname{
    font-size: 1.4rem;
}
.firstname-input{
    font-size: 2rem;
    border: none;
    color: black;
}
.lname{
    font-size: 1.4rem;
}
.lastname-input{
    font-size: 2rem;
    border: none;
    color: black;
}
.getstarted-div{
font-size: 15px;
padding: 0.5rem 4.5rem 0.5rem 4.5rem;
border-radius: 40px;
background-color: blue;
}